/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.navBtn{
	-fx-text-fill: #576271;
	-fx-background-color: rgba(0,0,0,0);
    -fx-padding: 5;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.activeNavBtn{
	-fx-text-fill: #27B1BE;
}

.activeNav{
	-fx-background-color: #27B1BE;
}

.blauweBg{
	-fx-background-color: #27B1BE;
}

.witteBg{
	-fx-background-color: #FFFFFF;
}

.employee-table{
	-fx-alignment: CENTER-RIGHT;
}

